/*Coded by Griffin Burkhardt for educational and non-profit purposes*/
/*For additional questions, please contact burkhardtg1@nku.edu*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/*HTML Elements*/
html {
    font-family: 'Open Sans', sans-serif;
    background-color: #e9e9e9;
    color: #292929;
}
body {
    margin: 0px;
    padding: 0px;
}
#desktop-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#mobile-header {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#page-container {
    margin: auto;
    padding: 1.75rem .75rem;
}
#content-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 512px 2rem 512px;
    grid-template-columns: 512px 512px;
    grid-gap: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#overlay {
    display: block;
    height: 7rem;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(-25%, rgb(211, 211, 211,1)),color-stop(-25%, rgb(211, 211, 211,0.3)), to(rgba(211,211,211,0)));
    background: -webkit-linear-gradient(bottom, rgb(211, 211, 211,1) -25%,rgb(211, 211, 211,0.3)-25%, rgba(211,211,211,0) 100%);
    background: -o-linear-gradient(bottom, rgb(211, 211, 211,1) -25%,rgb(211, 211, 211,0.3)-25%, rgba(211,211,211,0) 100%);
    background: linear-gradient(to top, rgb(211, 211, 211,1) -25%,rgb(211, 211, 211,0.3)-25%, rgba(211,211,211,0) 100%);
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
    -webkit-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
}

/*Hovers*/
.card:hover {
    -webkit-box-shadow: 0px 10px 35px rgba(187, 187, 187, 0.4);
            box-shadow: 0px 10px 35px rgba(187, 187, 187, 0.4);
}
/*.card:hover > .card-container-top > .title-container > .title {
    font-size: 25px;
}
.card:hover > .card-container-left > .title-container > .title {
    font-size: 25px;
}*/
.card:hover {
    -webkit-transform: scale(1.013);
        -ms-transform: scale(1.013);
            transform: scale(1.013);
}

/*Card*/
.card {
    background-color: white;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-radius: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 384px;
}
.title-container {
    text-align: left;
    text-transform: uppercase;
}
.title {
    line-height: 24px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.7px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.sub-title {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: gray;
}
.languages {
    font-weight: 300;
    display: inline;
}
.content {
    text-transform: lowercase;
    font-size: 13.5px;
    letter-spacing: 0.1px;
    line-height: 23.5px;
    color: #292929;
}
.content p {
    padding: 0px;
    margin: 0px;
    display: inline;
    font-weight: 300;
}

/*Header*/
#header-text-container {
    text-align: left;
}
#desktop-header img {
    border-radius: 50%;
    margin-right: 15px;
    height: 5rem;
    width: 5rem;
}
#mobile-header img {
    border-radius: 50px;
    margin-right: 15px;
    height: 51px;
    width: 51px;
}
.name {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1.7px;
}
.links {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.links ul {
    padding: 0;
    margin: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.links li {
    list-style: none;
    margin-right: 1rem;
}
.links a {
    text-decoration: none;
    color: gray;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.links a:hover {
    color: #292929;
}

/*Divider*/
.divider {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    margin-top: 1rem;
    margin-bottom: -1rem;
    text-align: left;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1.4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.divider-subject, .divider-date {
    font-weight: 700;
}
.divider-subject {
    color: gray;
}
.divider-date {
    color: #292929;
}

/*Project Links*/
.project-links {
    position: absolute;
    bottom: 1.75rem;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
    cursor: default;
    line-height: 12px;
}
.project-links li {
    list-style-type: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    width: 150px;
}
.project-links li a {
    text-decoration: none;
    color: #292929;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.project-links li a.alt {
    color: white;
}
.fas, .far {
    font-size: 12px;
    padding-right: .5rem;
    color: gray;
}

/*Images*/
#tesla-card {
    background-image: url("tesla2.jpg");
    background-size: cover;
}
#music-card {
    background-image: url("music2.jpg");
    background-size: cover;
    background-position: center;
}
#portfolio-card {
    background-image: url("portfolio2.jpg");
    background-size: cover;
    background-position: bottom;
}
#tweet-card {
    background-image: url("map3.jpg");
    background-size: cover;
}
#cip-card {
    background-image: url("map4.jpg");
    background-size: cover;
    background-position: left;
}
#norsetime-card {
    background-image: url("code.jpg");
    background-size: cover;
}
#ml-card {
    background-image: url("network.jpg");
    background-size: cover;
}
#ui-card {
    background-image: url("griffin.jpg");
    background-size: cover;
}

/*Colors*/
.project-links li a.alt:hover {
    color: gray;
}
.project-links li a:hover {
    color: gray;
}
#tesla-card .sub-title  {
    color: #d0564f;
}
#portfolio-card .sub-title {
    color: lightslategray;
}
#music-card .sub-title {
    color: limegreen;
}
#music-card .card-container-bottom {
    background: rgba(30, 32, 31,.88);
}
#tweet-card .sub-title {
    color: cornflowerblue;
}
#tweet-card .card-container-bottom {
    background: rgba(244, 244, 244, .88);
}
#cip-card .sub-title {
    color: #8c1676;
}
#cip-card .card-container-bottom {
    background: rgba(244, 244, 244, .88);
}
#ml-card .sub-title {
    color: #91CAED;
}
#ui-card .sub-title  {
    color: #358880;
}
::-moz-selection {
    background: lightgray;
}
::selection {
    background: lightgray;
}

/*Widths*/
.width-full {
    -ms-grid-column-span: 2;
    grid-column: span 2;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
.width-half {
    -ms-grid-column-span: 1;
    grid-column: span 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

/*Containers*/
.card-container, .card-container-top, .card-container-bottom, .card-container-left, .card-container-right {
    width: 100%;
    padding: 1.75rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 2px 2px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    position: relative;
}
.card-container-top {
    height: 128px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.card-container-bottom {
    background: rgba(250, 250, 250, .98);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    height: 256px;
}
.card-container-left {
    width: 50%; 
    border-radius: 2px 0px 0px 2px;
}
.card-container-right {
    width: 50%; 
    border-radius: 0px 2px 2px 0px;
    background: rgba(250, 250, 250, .98);
}
.card-container {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 667px) {
    #content-container {
        -ms-grid-columns: auto;
        grid-template-columns: auto;
    }
    .width-half {
        -ms-grid-column-span: 1;
        grid-column: span 1;
    }
    .width-full {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-grid-column-span: 1;
        grid-column: span 1;
    }
    .divider {
        -ms-grid-column-span: 1;
        grid-column: span 1;
    }
    .card-container-left {
        height: 128px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-radius: 2px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
    }
    .card-container-right {
        width: 100%;
        height: 100%;
        border-radius: 2px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .card-container-bottom {
        height: 100%;
    }
    .name {
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
    }
    .content > p > b, br {
        display: none;
    }
}

@media only screen and (max-width: 320px) { 
    .project-links li:nth-child(2) {
        margin-top: 1rem;
    }
}